input.ch-input {
    cursor: text;
    position: relative;
    background: transparent;
    height: 20px;
    margin: 24px 12px auto 12px;
    border: none;
    width: 100%;
    padding: 0;
    z-index: 99;   
}

.ch-field {
    background-color: #ddd;
    height: 56px; 
    border-radius: 4px 4px 0 0;
    position: relative;
    margin: 10px;
    display: flex;
    font-family: Segoe UI;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    padding: 1px;
}

.ch-field.outlined {
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.ch-field:not(.outlined)::before {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    content: '';
    border-top: none;
    border-right: none;
    border-left: none;    
    border-bottom: 1px solid black;
    transform: scaleX(0);
    padding-bottom: 1px;
    opacity: 0;
    transition: opacity .3s, transform 0s .3s;
}

.ch-field:not(.outlined):not(.focus):hover::before {
    position: absolute;
    border-bottom: 1px solid black;
    padding-bottom: 1px;
    opacity: 1;    
    transform: scaleX(1);
    transition: transform 0.3s .1s, opacity 0s, padding-bottom 0s;
}

.ch-field:not(.outlined)::after {
    border-bottom: 2px solid #4caf50;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    content: '';
    border-top: none;
    border-right: none;
    border-left: none;
    transform: scaleX(0);
    opacity: 0;
    transition: opacity .3s, transform 0s .3s;
}

.ch-field:not(.outlined).focus::after {
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    content: '';
    opacity: 1;
    border-bottom: 2px solid  #4caf50;
    transform: scaleX(1);
    transition: transform .3s, opacity 0s, border-bottom 0s;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */ 

input.ch-input.outlined {    
    margin: 16px 12px auto 14px;
}

.ch-label.outlined {
    position: relative;
    margin: 16px 4px auto 4px;
}

.ch-label {
    position: absolute;
    background: transparent;
    height: 20px;
    margin: 20px 12px auto 12px;
    border: none;
    padding: 0;
    top: 0;
    left: 0;
    font-size: 14px;
    font-weight: 400;
    transition: .3s;
}

.ch-label:not(.outlined).active {
    /* color: #4caf50; */
    font-size: 12px;
    transform: translateY(-16px) ;
    transition: .3s
}

.ch-label.outlined.focus {
    margin: 15px 4px auto 3px;
    color: #4caf50;
    font-size: 12px;
    transform: translateY(-26px) ;
    transition-property: transform, font-size, color;
    transition: .3s, color 0s;
}

.ch-label-outlined-cont {
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    margin: 0 10px;
    display: flex;
    justify-content: center;
}

.ch-label.outlined:not(.focus).active {    
    font-size: 12px;
    transform: translateY(-26px) ;
    transition: transform, font-size, margin .3s
}

.ch-field.outlined.focus, .ch-field.outlined.focus:hover {
    border: 2px solid;
    padding: 0px;
    border-color: #4caf50;
    transition: 0.3s;
}

.ch-field.outlined:hover, .ch-field.outlined.active:not(.focus):hover {
    border: 1px solid;
    transition: 0.3s;
}

.ch-field.focus {
    /* padding: 0; */
    color: #4caf50;
    /* transition: 0.3s; */
}

.ch-field.outlined.active:not(.focus) {
    border: 1px solid #ddd;
    padding: 1px;
    transition: 0.3s;
}

.ch-label-outlined-top {
    position: absolute;
    height: 4px;
    background: #fff;
    top: -2px;
    /* left: 0; */
    width: 0;
    transition: .3s;
}

.ch-label-outlined-top.active {
    width: 100%;
    transition: .3s
}

input.ch-input::-webkit-inner-spin-button, 
input.ch-input::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0; 

}
input.ch-input::-ms-clear {
    display: none; 
    margin: 0; 
}

input.ch-input, input.ch-input:not([type]) {
    border: none;
    padding: 0;
}

*:focus {
    outline: 0px;
    
}

input.ch-input, textarea.ch-input{
    font-family: Segoe UI;
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
    color: initial;
}

.btn-spin:not(input):hover {
    cursor: pointer;
    border: 2px solid #adb0b2; 
}

.btn-spin:not(input):active {
    background: #adb0b2;
}

a.btn-spin {
    cursor: pointer;    
    transition: all ease 0.3s;
    border-radius: 50%;
    border-color: transparent;
    user-select: none;
}
input.btn-spin {
    cursor: pointer;  
    user-select: none;
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 99;
    border: none;
}

div.btn-spin {
    cursor: pointer;    
    transition: all ease 0.3s;
    border-radius: 50%;
    border-color: transparent;
    user-select: none;
    position: relative;
    background: transparent;
    border: 2px solid transparent;    
    z-index: 99;
}

